html {
  font-size: calc(10px + 0.5vw);
  margin-top: 50px;
  scroll-padding-top: 50px;
}
@media (min-width: 2000px) {
  html {
    font-size: calc(10px + 1vw);
  }
}
@media (min-width: 2000px) {
  html {
    margin-top: calc(50px * 2);
    scroll-padding-top: calc(50px * 2);
  }
}

@media (min-width: 4000px) {
  html {
    margin-top: calc(50px * 2);
    scroll-padding-top: calc(50px * 2);
  }
}


@media (max-width: 500px) {
  html {
    margin: auto;
    scroll-padding-top: auto;
  }
}

h1 {
  font-size: 3rem;
}
h3 {
  font-size: 1rem;
}
body {
  margin: 70px auto 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: all 5.0s cubic-bezier(0.5, 0.05, 0.55, 0.95);
  background-image: url("./dots.svg"), url("./dots.svg");
  background-position: top 950px left -180px, top -350px right -150px;
  background-size: 66%, 55%;
  background-repeat: repeat-y, repeat-y;
}
@media (min-width: 2000px) {
  body {
    background-image: url("./dots.svg"), url("./dots.svg"), url("./dots.svg");
    background-position: top 950px left -180px, top -320px center, top -1280px right -150px;
    background-size: 42%, 32%, 39%;
    transition: all 5.0s cubic-bezier(0.5, 0.05, 0.55, 0.95);
    background-repeat: repeat-y, repeat-y, repeat-y;
  }
}
@media (min-width: 500px) {
  body {
    background-image: url("./dots.svg"), url("./dots.svg"), url("./dots.svg");
    background-position: top 950px left -180px, top -320px center, top -1280px right -150px;
    background-size: 42%, 32%, 39%;
    transition: all 5.0s cubic-bezier(0.5, 0.05, 0.55, 0.95);
    background-repeat: repeat-y, repeat-y, repeat-y;
    margin: auto;
  }
}

.form-container {
  margin: calc(50vh - 25vh) auto;
}

.main-form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  background: black;
}
#form-input {
  background: rgba(0, 0, 0, 0);
  color: white;
  border: 0;
  margin-bottom: 5px;
}
#form-input::placeholder {
  color: white;
}
.form-button {
  background: rgba(0, 0, 0, 0);
  border: none;
  color: white;
  text-align: right;
  padding: 15px;
}
.formWidth {
  width: 150px;
}


.registerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 0 auto;
}
label {
  text-align: left;
  margin-bottom: 3px;
  font-size: 1.6rem;
  display: block;
}

@media (max-width: 500px) {
  label {
    display: flex;
    margin-left: 100px;
    width: 200px;
    height: 40px;

  }
}

#firstName {
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 15px 20px;
  width: 380px;
}

@media (max-width: 500px) {
  #firstName {
    display: flex;
    margin-left: 100px;
    width: 140px;
    height: 20px;

  }
}

#secondName {
  border: 1px solid black;
  border-radius: 6px;
  margin-bottom: 10px;
  padding: 15px 20px;
  width: 380px;
}

@media (max-width: 500px) {
  #secondName {
    display: flex;
    margin-left: 100px;
    width: 140px;
    height: 20px;

  }
}




.blackButton {
  font-size: 2rem;
  font-weight: bold;
  background: black;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  padding: 15px 20px;
  width: 380px;
  border: 2px solid black;
}
.blackButton:hover {
  background: white;
  color: black;
}

.negative-top-margin-adjustment {
  margin-top: 0px;
}
@media (min-width: 2000px) {
  .negative-top-margin-adjustment {
    margin-top: calc((50px * 4) * -1);
  }
}

@media (min-width: 500px) {
  .negative-top-margin-adjustment {
    margin-top: calc((50px / 4) * -1);
  }
}

.welcomepage-socialmedia-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 2.125rem;
}

footer {
  z-index: 10;
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 75px;
  margin: 0 auto;
}
@media (min-width: 2000px) {
  footer {
    height: calc(75px * 2);
  }
}
.footerListItem {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerItems {
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-end;
  justify-content: space-around;
  align-content: flex-end;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center !important;
}

.data-card {
  background:rgb(255, 255, 255);
  color:rgb(0, 0, 0);
  width:70%;
  border-radius: 20px;
  margin: 2% auto;
  text-align:center;
  padding:20px;
  border-style: solid;
  border-color: black;

}

@media (max-width: 500px) {
  .data-card {
    height: calc(200px);
    width: 200px;
    margin-right: 80px;
  }
}

.country-image {
  width: 100px;
  object-fit: scale;
  flex-shrink: 3;
  justify-content: space-between;

}

.petcontainer {
  width: 100%;
  max-width: 850px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  color: white;

}



.petentry {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .dog-image {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;


  }
}





.dog-card {
  background: #fefefe;
  color: black;
  width: 200px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  cursor: pointer;
  box-shadow: 0px 1px 6px -2px grey;
}

@media (min-width: 2000px) {
  .dog-card {
    background: #fefefe;
    color: black;
    width: 200px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    cursor: pointer;
    box-shadow: 0px 1px 6px -2px grey;
  }
}

@media (max-width: 500px) {
  .dog-card {

    width: 200px;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-left: 60px;
    cursor: pointer;

  }
}

.dog-card.selected {
  box-shadow: 0px 1px 6px 5px rgba(245, 248, 248, 0.8);
  transform: translatey(-2px);
}

.dog-image {
  width: 200px;
  height: 200px;
  object-fit: scale;
  flex-shrink: 2;
}

.blackButtonDog {
  font-size: 1rem;
  font-weight: bold;
  background: black;
  color: white;
  margin-top: 5px;
  margin-bottom: 15px;
  margin-right: 30px;
  border-radius: 8px;
  padding: 15px 20px;
  width: 200px;
  border: 2px solid black;
}

@media (max-width: 500px) {
  .blackButtonDog {
    font-size: .6rem;
    font-weight: bold;
    background: black;
    color: white;
    margin-bottom: 15px;
    margin-top: 0px;
    margin-right: 50px;
    display: flex;
    border-radius: 8px;
    width: 80px;
    height: 30px;
    border: 2px solid black;
  }
}

.container {
  max-width: 500px;
  margin: 0 auto;
  display:flex;
}

@media (max-width: 500px) {
  .contianer {
    margin: 1px;
    height: 1px;
  }

}

.navigation{
  margin: 0 auto;
  width:80%;
  display:flex;
  justify-content:space-around;
}

@media (max-width: 500px) {
  .navigation {
    background: #fefefe;
    color: black;
    width: 180px;
    max-height: 87px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;
    cursor: pointer;
    flex-wrap: wrap;
    box-shadow: 0px 1px 6px -2px grey;
  }
}

/* @media (max-width: 500px) {
  .navigation {
    margin: auto;
    margin-right: 90px;
    width:10%;
    display: flex;
    flex-direction: column;
  }
} */

.ship {
  display:flex;
  margin: auto;
  object-fit: scale;
  flex-shrink: 2;
  height: 350px;
}

.logoheader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
  object-fit: scale;

}
